:root {
  --twitter-blue: #1fa2f1;
  --twitter-background-hover: #d4edff;
  --twitter-Grey: rgb(230, 236, 240);
  --spacing: 1rem;
  --lightBlue: #9bd1f9;
  --grayText: rgb(101, 119, 134);
}

* {
  outline: none !important;
}

a {
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.34);
}

button i,
button span {
  pointer-events: none;
}

.mainContainerSection {
  padding: 0;
  border-left: 1px solid var(--twitter-Grey);
  border-right: 1px solid var(--twitter-Grey);
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100%;
}

nav a {
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #212529;
}

nav a:hover {
  background-color: var(--twitter-background-hover);
  border-radius: 50%;
  color: var(--twitter-blue);
}

a.blue {
  color: var(--twitter-blue);
}

.titleContainer {
  height: 4rem;
  padding: 0 var(--spacing);
  border-bottom: 1px solid var(--twitter-Grey);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}

.postFormContainer {
  display: flex;
  border-bottom: 10px solid var(--twitter-Grey);
  padding: var(--spacing);
  flex-shrink: 0;
}

.userImageContainer {
  width: 4rem;
  height: 4rem;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
}

.textareaContainer textarea {
  width: 100%;
  resize: none;
  border: none;
  font-size: 1.2rem;
}

#submitPost {
  background-color: var(--twitter-blue);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
}

#submitPost:disabled {
  background-color: var(--lightBlue);
}

.post {
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--twitter-Grey);
}
.mainContentContainer {
  display: flex;
}

.postContentContainer {
  flex: 1;
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
}

.username,
.post {
  color: var(--grayText);
}

.displayName {
  font-weight: bold;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postButtonContainer {
  flex: 1;
}

.postButtonContainer button {
  padding: 2px 5px;
}

.header a:hover {
  text-decoration: underline;
}

.header a,
.header span {
  padding-right: 5px;
}

.postButtonContainer button:hover {
  background-color: var(--twitter-background-hover);
  color: var(--twitter-blue);
  border-radius: 50%;
}

.postButtonContainer.red .likeButton.active {
  color: red;
}

.postButtonContainer.green .retweetButton.active {
  color: green;
}

.postActionContainer {
  padding-left: 2rem;
  font-size: 0.9rem;
  color: var(--grayText);
  margin-bottom: 0.5rem;
}

.modal .postFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
}

.modal .post {
  padding: 0 0 var(--spacing) 0;
}

.replyFlag {
  margin-bottom: 0.4rem;
}

.replyFlag a {
  color: var(--twitter-blue);
}
.post.largeFont .postBody,
.post.largeFont .postFooter {
  font-size: 1.5rem;
}

.postContentContainer .header {
  display: flex;
}

.postContentContainer .header .date {
  flex: 1;
}

.errorMessage {
  padding: var(--spacing);
  font-weight: normal;
}

.profileHeaderContainer .coverPhotoContainer {
  background: var(--twitter-blue);
  height: 180px;
  position: relative;
}

.profileHeaderContainer .userImageContainer {
  position: absolute;
  bottom: -66px;
  margin-left: var(--spacing);
  width: 132px;
  height: 132px;
}

.profileHeaderContainer .userImageContainer img {
  border: 4px solid #fff;
}
